
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F8FB;
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}
.timeline {
    position: relative;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.timeline:before {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 4px;
    background-color: #007bff;
    transition: width 0.3s ease-in-out;
}

.timeline .step {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #ccc;
    border: 2px solid #ccc;
    position: relative;
    z-index: 1;
    margin-right: 10px;
    cursor: pointer;
}

.timeline .step.active {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}

.timeline .step:before {
    position: absolute;
    top: 3px;
    left: -19px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 13px solid #ccc;
    }

.timeline .step.active:before,
.timeline .step.active ~ .step:before,
.timeline .step.active ~ :before {
    border-right-color: #007bff;
}

.timeline .step:first-child:before {
    display: none;
}

.timeline .step:last-child {
    margin-right: 0;
}

.timeline .bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 99%;
    height: 3px;
    background-color: #ccc;
    z-index: 0;
}

.timeline .bar:after {
    position: absolute;
    top: -8px;
    left: calc((100% / 3) - 8px);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ccc;
    border: 2px solid #fff;
    z-index: 1;
}

.timeline .bar.active {
    background-color: #007bff;
}

.timeline .bar.active:after {
    background-color: #007bff;
    border-color: #007bff;
}

.timeline .bar-filled {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #007bff;
    z-index: 2;
    transition: width 0.3s ease-in-out;
}


.form-part {
    display: none;
    margin-top: 20px;
    width: 100%;
}

.form-part.active {
    display: block;
    text-align: center;
}

p {
  padding: 0.5em;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 15%;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #F4F8FB;
}
input[type="radio"] {
    display: none;
}

label[for="zona-rural"],
label[for="zona-urbana"] {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
}

#cidade {
  padding: 0.5em;
  border-radius: 10px;
}

label[for="zona-rural"], label[for="zona-urbana"] {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"] {
    background-color: #28a745;
    color: #fff;
}

